<h2 mat-dialog-title>Edit a Task</h2>
<form (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Task Name</mat-label>
            <input type="text" name="name" [(ngModel)]="name" id="name" matInput placeholder="Enter task name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Date</mat-label>
            <input matInput [(ngModel)]="date" [matDatepicker]="datepicker" name="date" required>
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Time</mat-label>
            <input matInput [(ngModel)]="time" [matTimepicker]="timepicker" name="time" required>
            <mat-timepicker-toggle matSuffix [for]="timepicker"></mat-timepicker-toggle>
            <mat-timepicker #timepicker></mat-timepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Priority</mat-label>
            <mat-select [(ngModel)]="priority" name="priority" required>
                <mat-option value="high">High</mat-option>
                <mat-option value="medium">Medium</mat-option>
                <mat-option value="low">Low</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close type="button">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </mat-dialog-actions>
</form>