.todo-container{
    width: 600px;
    height: 550px; 
    margin: 0px auto;
    padding: 20px;
    box-shadow: 0px 2px 10px rgb(0,0,0,0.1);
    background-color: #fefefe;
    border-radius: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.todo-title{
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: #5b61b2;
    /* change font family */
}